body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
}
.image-area{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    
}
div button{
    width: 250px;
    height: 30px;
    font-size: 1.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 20px;
}
span{
    font-size: 2rem;
}
section{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    margin-top: 50px;
}