table,th,td{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
    width: 800px;
    height: 500px;
}
tbody tr:nth-child(3n+1){
    background-color: lightgray;
}
tbody tr:nth-child(3n+2){
    background-color: gray;
}
tbody tr:nth-child(3n+3){
    background-color:   darkgray;
}
thead tr:nth-child(n){
    background-color: rgb(94, 153, 192);

}